/* Colors */
.colors {
    color: #140700;
    color: #5A4D44;
    color: #b69e88;
    color: #B2775A;
    color: #b88759;
    color: #BFB1A8;
    color: #E6D9CC;
    color: #E4CDC7;
    color: #DDD2D2;
    color: #FAF8F7;
    }